*.py[cod]

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts

# Installer logs
pip-log.txt

*.DS_store

#Minified JS
*-min.js

# PyCharm
.idea
*.iml

=*
._*

.cache
local*ini

npm-debug.log
node_modules/
