<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Author</key>
        <string>Boris Lykah</string>
        <key>Builder Version</key>
        <string>13605.1.33.1.2</string>
        <key>CFBundleDisplayName</key>
        <string>StickyDucky</string>
        <key>CFBundleIdentifier</key>
        <string>com.stickyducky</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleShortVersionString</key>
        <string>1.5</string>
        <key>CFBundleVersion</key>
        <string>1.5</string>
        <key>Chrome</key>
        <dict>
            <key>Database Quota</key>
            <integer>0</integer>
            <key>Global Page</key>
            <string>background.html</string>
            <key>Popovers</key>
            <array>
                <dict>
                    <key>Filename</key>
                    <string>popup.html</string>
                    <key>Height</key>
                    <integer>400</integer>
                    <key>Identifier</key>
                    <string>popup</string>
                    <key>Width</key>
                    <integer>224</integer>
                </dict>
            </array>
            <key>Toolbar Items</key>
            <array>
                <dict>
                    <key>Identifier</key>
                    <string>stickyducky</string>
                    <key>Image</key>
                    <string>assets/iconContour64.png</string>
                    <key>Include By Default</key>
                    <true/>
                    <key>Label</key>
                    <string>Sticky Ducky</string>
                    <key>Popover</key>
                    <string>popup</string>
                </dict>
            </array>
        </dict>
        <key>Content</key>
        <dict>
            <key>Scripts</key>
            <dict>
                <key>Start</key>
                <array>
                    <string>lib/underscore-1.9.1.js</string>
                    <string>lib/css-what-3.2.1.js</string>
                    <string>vapiInjected.js</string>
                    <string>explorer.js</string>
                    <string>content.js</string>
                </array>
            </dict>
        </dict>
        <key>Description</key>
        <string>Automatically cleans pages of the sticky headers and other fixed elements</string>
        <key>DeveloperIdentifier</key>
        <string>0000000000</string>
        <key>ExtensionInfoDictionaryVersion</key>
        <string>1.0</string>
        <key>Permissions</key>
        <dict>
            <key>Website Access</key>
            <dict>
                <key>Include Secure Pages</key>
                <true/>
                <key>Level</key>
                <string>All</string>
            </dict>
        </dict>
    </dict>
</plist>
